# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swp
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
.vscode/
*.code-workspace

# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
doc/api/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt

# iOS / macOS related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Web related
**/web/flutter_service_worker.js
**/web/flutter_bootstrap.js

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Exceptions to above rules.
!**/ios/Runner/GeneratedPluginRegistrant.h

# Environment files
.env
.env.*
!.env.example

# Coverage
coverage/
lcov.info

# Drift Web Worker build artifacts
web/drift_worker.js.map
web/drift_worker.js.deps
